{{ define "main" }}
{{ $hasToc := and (in .TableOfContents "<li>" ) (.Params.toc) }}
{{ $hasSidebar := or ($hasToc) (.Params.series) }}
<main>
    <section class="has-vertical-padding-tablet">
        <div class="container">

            <div class="columns is-centered">
                <div class="column is-three-quarters ">
                    <div class="section box is-radiusless">
                        <article>
                            {{ partial "post_header.html" . }}
                            <div class="content">
                                
                                {{ .Content }}
                            </div>
                            {{ partial "post_footer.html" . }}
                        </article>
                    </div>
                </div>
                {{ if $hasSidebar }}
                <div class="column is-one-quarter">
                    {{ if .Params.series }}
                    {{ partial "post_series.html" . }}
                    {{ end }}
                    {{ if $hasToc }}
                    {{ partial "post_toc.html" . }}
                    {{ end }}
                </div>
                {{ end }}
            </div>

            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <div class="columns {{ if not $hasSidebar }} {{- print "is-centered" -}} {{ end }}">
                <div class="column is-three-quarters">
                    <div class="box is-radiusless">
                        <h2 class="subtitle">See Also</h2>
                        <div class="content">
                            {{ range . }}
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

        </div>
        </div>
    </section>
</main>
{{ if $hasToc }}
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const id = entry.target.getAttribute('id');
                if (entry.intersectionRatio > 0) {
                    if (delay == true) {
                        let element = document.querySelector('.sticky-toc li.active')
                        element.firstChild.classList.remove('has-text-primary');
                        element.classList.remove('active');
                        delay = false;
                        updatePosAndColor();
                    }
                    document.querySelector(`.sticky-toc li a[href="#${id}"]`).parentElement.classList.add('active');
                    updatePosAndColor();
                } else {
                    if (document.querySelectorAll('.sticky-toc li.active').length == 1) {
                        delay = true;
                    } else {
                        let element = document.querySelector(`.sticky-toc li a[href="#${id}"]`)
                        element.classList.remove('has-text-primary');
                        element.parentElement.classList.remove('active');
                        updatePosAndColor();
                    }
                }
            });
        });

        var delay = false;
        var targetPos = window.innerHeight * 0.4

        function updatePosAndColor() {
            let elements = document.querySelectorAll('.sticky-toc li.active')
            let len = elements.length
            if (len != 0) {
                let firstElement = elements[0]
                firstElement.firstChild.classList.add('has-text-primary')
                let offset = firstElement.offsetTop - targetPos;
                if (offset > 0) {
                    document.querySelector(`.sticky-toc`).style.top = `calc( 4rem - ${offset}px)`
                } else {
                    document.querySelector(`.sticky-toc`).removeAttribute("style");
                }
                for (let i = 1; i < len; i++) {
                    elements[i].firstChild.classList.remove('has-text-primary')
                }
            }
        }

        // Track all sections that have an `id` applied
        document.querySelectorAll('.content h1[id]').forEach((section) => {
            observer.observe(section);
        });
        document.querySelectorAll('.content h2[id]').forEach((section) => {
            observer.observe(section);
        });
        document.querySelectorAll('.content h3[id]').forEach((section) => {
            observer.observe(section);
        });

        document.querySelectorAll('.content h4[id]').forEach((section) => {
            observer.observe(section);
        });

        document.querySelectorAll('.content h5[id]').forEach((section) => {
            observer.observe(section);
        });

        document.querySelectorAll('.content h6[id]').forEach((section) => {
            observer.observe(section);
        });
    });
</script>
{{ end }}
{{ end }}