{{ define "main" }}
<main>
  <section class="section">
    <div class="container">
        <article>
          <h1 class="title">{{.Title}}</h1>
          {{ with .Content }}
          <div class="content">
            {{ . }}
          </div>
          {{ end }} 
        </article>
      </div>
  </section>
  
  <section class="">
    <div class="container section box is-radiusless">
      {{ range .Pages }}
      <h2 class="subtitle">
        <a href="{{.Permalink}}">{{.Title}}</a>
      </h2>
      {{ end }}
    </div>
  </section>
  
</main>
{{ end }}