{{ define "main" }}
<main>
  <section class="hero is-fullheight-with-navbar is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hero title
        </h1>
        <h2 class="subtitle">
          Hero subtitle
        </h2>
      </div>
    </div>
  </section>

  {{ if isset .Params "title" }}
  <section class="section">
    <div class="container">
      <article>
        <h1 class="title">
          {{.Title}}
        </h1>
        {{ with .Content }}
        <div class="content">
          {{ . }}
        </div>
        {{ end }}
      </article>
    </div>
  </section>
  {{ end }}

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <h1 class="title">
            Recent Page
          </h1>
        </div>
        <div class="column">
          {{ range first 10 .Site.RegularPages }}
            {{ partial "summary.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</main>
  
{{ end }}

